In [32]:
import numpy as np
import pandas as pd
import time
from rich import print

In [76]:
%%timeit
df = pd.DataFrame(columns=['pred', 'conf', 'time'])
df.loc[-1] = [2, 3, 4]  # adding a row
df.index = df.index + 1  # shifting index
df = df.sort_index()  # sorting by index

df.loc[-1] = [2, 3, 4]  # adding a row
df.index = df.index + 1  # shifting index
df = df.sort_index()  # sorting by index

df

5 ms ± 251 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [80]:
%%timeit

a = [' ']*10

for i in range(2):
    a.insert(0, 'up')
    a.pop()

for i in range(5):
    a.insert(0, 'down')
    a.pop()

a.insert(0, 'up')
a.pop()
a.insert(0, 'and over!')
a.pop()

pd.DataFrame([a, a])

784 µs ± 42.9 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [86]:
pd.DataFrame({'hi':a, 'hi2': a})

          hi        hi2
0  and over!  and over!
1         up         up
2       down       down
3       down       down
4       down       down
5       down       down
6       down       down
7         up         up
8         up         up
9